/* Main config */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* input[type="search"]::-webkit-search-cancel-button{
    display: none;
} */


body {
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.font-null {
    font-size: 0;
}

.flexbox {
    display: flex;
}

/* h2.h2-title {
    color: white;
    padding: 40px 0;
    font-size: 32px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.532);
}

h2.h2-title span {
    color: #3a02b4;
    text-shadow: 0px 0px 5px #290080;
}

button:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 0px 8px #6219ff;
} */

/* ////////////////////////////////////////////////////// */

/* header */
header > .interface {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    justify-content: space-around;
    
}

header {
    padding: 40px 4%;
    background-image: url();
}

header .contact-header {
    color: #bd0075;
}

header .interface .contact-header p{
    padding-bottom: 15px;
    font-size: 17px;    
}

header .contact-header a{
    text-decoration: none;
    color: #bd0075;

}


/* header .search-bar {
    border: 2px solid #bd0075;
    border-radius: 15px;
    padding: 5px 9px;
}

header .search-bar input {
    box-shadow: 0;
    border: 0;
    outline: 0;
}

header .search-bar i {
    color: #bd0075;
} */

header .login {
    flex-wrap: wrap;
    align-items: center;
}

header .login a {
    text-decoration: none;
    color: #bd0075;
    font-size: 17px;
}

header .login i{
    color: #bd0075;
    font-size: 30px;
}

header .header-logo img{
    border-radius: 100%;
}

header i.list-icon{
    font-size: 45px;
    color: #bd0075;
    display: none;
    transition: 0.5s;
}

header i.list-icon:hover{
    transform: rotate(-90deg);
    transition: 0.5s;
}

/* end header */

/* /////////////////////////////////////////////// */

/* menu-mobile */

.menu-mobile{
    background-color: #bd00752c;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0%;
    z-index: 999999;
    overflow: hidden;
    transition: 0.5s;
}

.menu-mobile.open-menu{
    width: 50%;
}

.menu-mobile.open-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    list-style-type: none;
    text-align: left;
}

.menu-mobile nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 8%;
    transition: 0.4s;
}
.menu-mobile nav ul li a:hover{
    background-color: #bd0075;
    transform: scale(1.05);
    transition: 0.4s;
}

.menu-mobile i{
    display: flex;
    justify-content: end;
    padding: 30px 4%;
    font-size: 30px;
    color: #bd0075;
    transition: 0.5s;
}


.menu-mobile i:hover{
    transition: 0.5s;
    text-shadow: 0 0 2px #ff21aa;
    color: #ffffff;
}

.overlay-menu{
    z-index: 88888;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0000009f;
    display: none;
}


/* end menu-mobile */

/* ///////////////////////////////////////////////// */

/* top nav */

.top .desktop .flexbox {
    background-color: #bd0075;
    padding: 15px 80px;
}

.top nav.desktop a{
    display: inline-block;
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.478);
    text-decoration: none;
}

.top nav.desktop a:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.top nav.desktop ul {
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
}

.top nav.desktop ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 20px;
}

.top nav.desktop ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.2s;
}
.top .desktop .flexbox ul li a:hover{
    transform: scale(1.05);
}

/* navbar fixed */

.top .flexbox.fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    background-color: #bd007586;
}

/* end top nav */

/* /////////////////////////////////////////////// */

/* carousel container */
.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(211, 148, 197, 0.579);
}

.slide-container img{
    width: 100%;
}

.dot-center {
    text-align: center;
}

/* next and previous buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* black background on hover animation */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* dots */
.dot {
    height: 5px;
    width: 20px;
    border-radius: 5px;
    margin: 0 2px;
    background-color: #ffd4fd;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #ff73c9bb;
}

/* transition animation */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

/* /////////////////////////////////////////////////////// */

/* trabalhos */

section.trab{
    cursor: default; 
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px #bd007529;
}

section.trab h1{
    color: #bd0075;
    font-size: 30px;
}

section.trab .flexbox{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    border: solid 2px #bd007585;
    transition: 0.4s;
}

.img-port:hover{
    background-position: 100% 100%;
    cursor: default; 
}

.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bd007591;
    border-radius: 40px;
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: 0.4s;
    
}
.overlay:hover{
    opacity: 1;
}


/*end trabalhos */

/* /////////////////////////////////////////// */

/* sobre */

section.sobre{
    cursor: default; 
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px #bd007529;
}

section.sobre .interface h2{
    color: #bd0075;
    font-size: 30px;
}

section.sobre .interface .flexbox{
    justify-content: space-around;
    margin-top: 60px;
    padding: 50px;
    background-color: #ffd4fd41;
    margin-left: 0;
    border-radius: 50px 2px 50px 2px;
}

section.sobre .interface .flexbox p{
    padding-bottom: 10px;
    color: #bd00759c;
}
/*end sobre */
/* //////////////////////////////////////////////////////////////// */

/* footer */

footer{
    cursor: default; 
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px #bd007529;
    background-color: #ffd4fd41;
}

footer h2{
    color: #bd0075;
    font-size: 30px;
}

footer .interface .flexbox{  
    margin-top: 60px;
    gap: 20px;
}

footer .interface .flexbox .contato{
    font-size: 16px;
    color: #bd0075;
}

footer .interface .flexbox .contato a{
    text-decoration: none;
    color: #bd0075;
}
footer .interface .flexbox .contato i{
    padding-right: 10px;
    font-size: 23px;
}

footer .interface .texto{
    text-align: center;
    padding-top: 40px;
    color: #bd0075;
    font-size: 14px;
}

footer .interface .texto p{
        padding-bottom: 10px;
}

footer .interface .texto a{
    text-decoration: none;
    color: #bd0075;
    
}

footer .interface .texto a:hover{
    text-transform: uppercase;
}


/* end footer */
/* //////////////////////////////////////////////////////////////// */



/* Primeira tela */
/* ///////////////////////////////////////////// */
@media screen and (max-width: 1280px){
    /* header */
    header .interface{
        font-size: 13px;
    }

    header .interface .header-logo img{
        width: 160px;
    }

    header .login a {
    font-size: 15px;
}

header .interface .contact-header p{
    font-size: 15px;    
}
    
    
    /* works */
    section.trab {
        padding: 80px 8%;
    }

    section.trab .interface .flexbox{
        gap: 50px;
        flex-direction: column;
    }

    section.trab .interface h1{
        text-align: center;
    }

    .img-port{
        width: 260;
        height: 390px;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }



}

    
/* Segunda tela */
/* ///////////////////////////////////////////// */

@media screen and (max-width: 799px){

    /* mobile button display */
    header i.list-icon{
        display: block;
        position: fixed;
    }

    /* header*/ 

    header .interface .contact-header{
        font-size: 11px;
        padding-left: 40px;
    }

    header .interface .search-bar{
        display: none;
    }

    header .interface .header-logo img{
        width: 100px;
    }

    header .login a {
    font-size: 12px;
}

header .interface .contact-header p{
    font-size: 12px;    
}
    

    /* nav */
    section.top .desktop .flexbox{
        display: none;
    }

    /* works */

    section.trab .interface h1{
        text-align: center;
    }

    footer .interface .flexbox{
        align-items: center;
        justify-content: center;
    }

    /*  */
    header > .interface {
    justify-content: space-between;
    
}

    header i.list-icon{
        font-size: 35px;
    }

    
    
}

/* Terceira tela */
/* ///////////////////////////////////////////// */

@media screen and (max-width: 524px){

    header {
    padding: 20px 5%;
    
    }


    header .interface .login.flexbox p{
        display: none;
    }

    header i.list-icon{
        font-size: 35px;
    }

    header .header-logo img{
    margin-top: 10px;
}

    header .interface .login.flexbox i{
        display: none;
    }

    header i.list-icon{
        font-size: 35px;
    }

    header .interface .contact-header p{
    font-size: 15px;    
}
    
}

/* Quarta tela */
/* ///////////////////////////////////////////// */

@media screen and (max-width: 415px){
    /* header */
    header .interface .header-logo img{
        width: 80px;
    }

    header .interface .login.flexbox{
        font-size: 12px;
    }

    header .interface .contact-header{
        font-size: 11px;
    }

}



